<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.mapper.TMapper">

    <sql id="All_Columns">
        id, name, age
    </sql>

    <!-- 通用——动态插入数据 -->
    <insert id="insertSelective" parameterType="com.maven.entity.T">
        insert into t
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=int},
            </if>
            <if test="name != null">
                #{name, jdbcType=varchar},
            </if>
            <if test="age != null">
                #{age, jdbcType=int},
            </if>
        </trim>
    </insert>

    <!-- 通用——批量插入数据 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into t values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.id, jdbcType=int},
                #{item.name, jdbcType=varchar},
                #{item.age, jdbcType=int},
            )
        </foreach>
    </insert>

    <!-- 通用——动态查询数据 -->
    <select id="selectByModel" parameterType="com.maven.entity.T" resultType="com.maven.entity.T">
        select <include refid="All_Columns"/> from t 
        <where>
            <if test="id != null">and id = #{id, jdbcType=int}</if>
            <if test="name != null">and name = #{name, jdbcType=varchar}</if>
            <if test="age != null">and age = #{age, jdbcType=int}</if>
        </where>
    </select>

    <!-- 通用——配置动态更新数据-根据主键更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.maven.entity.T">
        update t 
        <set>
            <if test="id != null">id = #{id, jdbcType=int},</if>
            <if test="name != null">name = #{name, jdbcType=varchar},</if>
            <if test="age != null">age = #{age, jdbcType=int},</if>
        </set>
        where id = #{id, jdbcType=int}
    </update>
</mapper>
